<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eat}}">
		{{#if eat}}EAT IT EAT IT!{{else}}I Don't feel so good!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Im going to digest this!</button>
</li>